# default settings
[settings]
# how many workers should be started
nr_workers  = 1
# the default tag given to samples
tag         = malzoo
# the whitelist of file extensions
whitelist   = jpg,png,txt,gif,jpeg
# locations of the files for the YARA rules and packer signatures
yara_rules  = data/yara_rules/
userdb      = data/userdb.txt
# log results to text file
textlog    = no
# storage of samples
storesample = no
repository  = storage/
# monitoring location
dirmonitor  = monitored/
# which platform should be used to see if the sample is already in the database.
# options are: mongo or viper. If empty, Malzoo won't check if the file is already analyzed
# and will submit the file for analysis. Default is mongo.
duplicatecheck = 
# enable debugging
debug = no

# Components
# Enable/disable the sample suppliers that should be started
[suppliers]
api         = yes
mail        = no
dir         = no

# Active Directory settings. !!! EXPERIMENTAL !!!
[ad]
adlookup     = no
adserver     =
search       =
basedn       =
fields       =
username     =
password     =
countryfield =

[workers]
# This regex is used to check what e-mails should be checked in the Active Directory
email_regex = 
# The e-mail address of the Abuse mailbox. This is used by the Active Directory check
emailaddr   = 

# Email settings
[imap]
username    = 
password    = 
server      = 
folder      = INBOX/

# Splunk settings
[splunk]
enabled     = no
username    = 
password    = 
host        =
port        = 
index       = 
token       = Splunk xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# ElasticSearch settings
[elasticsearch]
enabled	    = no
index       = malzoo
host        = localhost
port        = 9200

# Mongo settings
[mongo]
enabled     = no
db          = malware 
collection  = samples 

# API's
[malzoo]
enabled     = yes
host        = 127.0.0.1
port        = 1338

[cuckoo]
enabled     = no
host        = 127.0.0.1
port        = 

[viper]
enabled     = no
host        = 127.0.0.1
port        = 
