# default settings
[settings]
debug       = yes
textlog     = yes
storesample = yes
tag         = malzoo
repository  = storage/
dirmonitor  = monitored
nr_workers  = 1
yara_rules  = data/yara_rules/
userdb      = data/userdb.txt
whitelist   = jpg,png,txt,gif,jpeg
 
# which platform should be used to see if the sample is already in the database.
# options are: mongo or viper. If empty, Malzoo won't check if the file is already analyzed
# and will submit the file for analysis. 
duplicatecheck = 

# Components
# Enable/disable the sample suppliers that should be started
[suppliers]
api         = yes
mail        = no
dir         = no

# Email settings
[imap]
username    = 
password    = 
server      = 
folder      = INBOX/

# Splunk settings
[splunk]
enabled     = no
host        =
port        = 
sourcetype  = 
token       = Splunk xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# ElasticSearch settings
[elasticsearch]
enabled	    = no
index       = malzoo
host        = localhost
port        = 9200

# Mongo settings
[mongo]
enabled     = no
db          = malware 
collection  = samples 

# API's
[malzoo]
enabled     = yes
host        = 127.0.0.1
port        = 1338

[viper]
enabled     = no
host        = 127.0.0.1
port        = 
